<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tasks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-list>
  <ion-item *ngFor="let task of tasks">
{{task.titre}}
<ion-button (click)="updateTask(task)">Update</ion-button>
<ion-button (click)="delTask(task)">Delete</ion-button>

  </ion-item>
  <ion-item>
    <ion-input [(ngModel)="newTitre.titre"] placeholder="nouveau tache"/>
    <ion-button (click)="addTask()">Ajouter</ion-button>

  </ion-item>
</ion-list>
</ion-content>
